{% #include <vector> %}
{% #include_impl <iostream> %}
{% variable a_variable TestVariable std::string %}
{% variable index Index int %}
{% param idx int %}
{% namespace templates %}
{% init %}
std::cout<< "template init" << std::endl;
{% endinit %}
{% deinit %}
std::cout<< "template deinit" << std::endl;
{% enddeinit %}
{% prerender %}
std::cout<< "template prerender" << std::endl;
{% endprerender %}
{% postrender %}
std::cout<< "template postrender" << std::endl;
{% endpostrender %}
<!DOCTYPE html>
<html>
    <head>
        <title>My Webpage</title>
    </head>
    <body>
        <ul id="navigation">
        </ul>
        <h1>My Webpage</h1>
        {{ a_variable }}
        {% block testBlock %}
        Classname: {{ __classname__ }}<br>
        Compile Time: {{ __compile_time__ }}<br>
        Compile Date: {{ __compile_date__ }}<br>
        Compile Datetime: {{ __compile_datetime__ }}<br>
        Date: {{ __date__ }}<br>
        Time: {{ __time__ }}<br>
        Datetime: {{ __datetime__ }}<br>
        Current Time: {{ __current_time__ }}<br>
        Current Date: {{ __current_date__ }}<br>
        Current Datetime: {{ __current_datetime__ }}<br>
        {{ std::to_string(index) }}
        {% endblock %}
    </body>
</html>